.menu-items {
  display: flex;
}

.mobile {
  flex-direction: column;
  align-items: flex-start;
}

.desktop {
  flex-direction: row;
}

.desktop li {
  padding: 0 2rem;
}

.white {
  color: var(--white);
}
